.header {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddd;
}

.title {
    font-size: 3.5rem;
    font-weight: 800;
    color: #4d4141;
    text-shadow: 2px 4px 8px rgba(66, 61, 61, 0.3);
    margin: 0;
}
